body {
    margin: 0;
    display: flex;
    justify-content: center;
}

#menu {
    background-color: hsla(0, 0%, 0%, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

button {
    font-size: 3rem;
    border-radius: 10px;
    cursor: pointer;
}

#credits {
    font-size: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
}

button:hover {
    background-color: pink;
}

canvas {
    border: 1px solid;
}